[Desktop Entry]
Name=SteamOS-DIY Control
Comment=Hardware and Game Configuration Hub
Exec=/usr/local/bin/steamos-diy-control
Icon=input-gaming
Terminal=false
Type=Application
StartupWMClass=SteamOS-DIY Control
Categories=Settings;System;
