[Desktop Entry]
Name=Control Center
Comment=SteamMachine-DIY Management Tool
Exec=/usr/local/bin/sdy-control-center
Icon=preferences-system-performance
Terminal=false
Type=Application
Categories=Settings;System;
