[Desktop Entry]
Name=Return To Game Mode
Comment=Switch session back to Steam Gaming Mode
Exec=/usr/local/bin/steamos-session-select steam
Icon=steam
Terminal=false
Type=Application
Categories=System;Game;
