[Unit]
Description=SteamOS-DIY Desktop Session (KDE Plasma) for %i
After=network.target systemd-user-sessions.service getty@tty1.service
Conflicts=steamos-gamemode@%i.service getty@tty1.service

[Service]
EnvironmentFile=/usr/share/steamos-diy/defaults
EnvironmentFile=/etc/default/steamos-diy
User=%i
Group=%i
WorkingDirectory=/home/%i
PAMName=login
UtmpIdentifier=tty1
UtmpMode=user

StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

# KDE Environment
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=KDE
Environment=KDE_FULL_SESSION=true
Environment=QT_QPA_PLATFORM=wayland
Environment=GTK_USE_PORTAL=0

# STARTUP
ExecStartPre=-/usr/bin/bash -c "/usr/bin/rm -f /run/user/%U/wayland-0*"
#ExecStartPre=-/usr/bin/bash -c "clear > /dev/tty1"
ExecStartPre=-${BIN_SPLASH} desktop

# SESSION
ExecStart=/usr/bin/startplasma-wayland

# EXIT MANAGEMENT
Restart=no
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5s
ExecStopPost=-${BIN_SPLASH}

[Install]
WantedBy=graphical.target
